.div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background:rgb(5, 5, 75);
  font-weight:  500px;

  font-size: 20px;
}
body{
  background-color: rgb(23, 29, 37);
}
ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

a {
   color: rgb(66, 66, 221);
  text-decoration: none;
}

button {
  padding: 8px 15px;
  cursor: pointer;
}
.text{
      display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}
.H{
       color: rgb(181, 161, 238);
       font-size: 50px;
}
button{
  font-size: 15px;
    text-decoration: none;
    outline: none;
    border: 2px solid rgb(5, 5, 75);
   color: rgb(181, 161, 238);
    background-color: rgb(122, 122, 243);
    border-radius: 20px;
}
a.active{
  color: white;
}
/* Contact Page */
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.contact-title {
  font-size: 32px;
  margin-bottom: 20px;
}

.contact-buttons {
  display: flex;
  gap: 15px;
}

.contact-buttons button {
  padding: 10px 20px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
}

.contact-buttons button:hover {
  background: #333;
}

.d{
  color:aliceblue;
  display: flex;
  justify-content:space-around;
  align-items: center;
}
.ad{

  display: flex;
  justify-content:center;
  align-items: center;
}
.form-control{
  height: 4vh;
  border:2px solid #ffffff;
  width: 20%;
  justify-content: space-between;
  display: flex;
  border-radius:10px  ;
  background-color: rgba(177, 174, 174, 0.322);
  text-align: center;
  align-items: center;
}
.form-label{
  color: white;
}