.div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background:rgb(5, 5, 75);
  font-weight:  500px;

  font-size: 20px;
}
body{
  background-color: rgb(23, 29, 37);
}
ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

a {
   color: rgb(66, 66, 221);
  text-decoration: none;
}

button {
  padding: 8px 15px;
  cursor: pointer;
}
.text{
      display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
  border:2px solid rgb(83, 81, 92)
}
.H{
       color: rgb(181, 161, 238);
       font-size: 50px;
}
button{
  font-size: 15px;
    text-decoration: none;
    outline: none;
    border: 2px solid rgb(5, 5, 75);
   color: rgb(181, 161, 238);
    background-color: rgb(122, 122, 243);
    border-radius: 20px;
}
a.active{
  color: white;
}